

.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
}

.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}
 .dataTables_paginate .pagination .page-item {
    margin-left: 0.4rem;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

 .pagination .page-item.disabled > .page-link,  .pagination .page-item.disabled:hover > .page-link {
    opacity: 0.6;
}
 .pagination .page-item.previous > .page-link,  .pagination .page-item.next > .page-link,  .pagination .page-item.last > .page-link,  .pagination .page-item.first > .page-link {
    background: #ebe9f2;
}
.pagination .page-item > .page-link {
    border-radius: 3px !important;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 1.75rem;
    min-width: 1.75rem;
    vertical-align: middle;
    padding: 0.3rem;
    text-align: center;
    position: relative;
    font-size: 13px;
    line-height: 1rem;
    font-weight: 400;
}


.pagination .page-item > .page-link {
    color: #595d6e;
    border: 0;
    outline: none !important;
}
.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #ebedf2;
}


.pagination .page-item > .page-link > i {
    font-size: 1rem;
    text-align: center;
    display: inline-block;
}