<template>
<div class="row mb-2" v-show="showPagination">
    <div class="col-sm-12 col-md-6">
        <div class="dataTables_info" id="kt_table_1_info" role="status" aria-live="polite" style="color: #595d6e">
             <select class="" @change="searchPer($event)" :class="[isLoading ? 'disabled' : '']">
                    <option v-for="(p,index) in pager" :key='index'>{{ p }}</option>
            </select>
         Entrées par page
         | <b>Page :</b> {{ paginator.current_page }} / {{ paginator.last_page }}  | <b>Total</b>  : {{ paginator.total }}   </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="dataTables_paginate paging_full_numbers" id="kt_table_1_paginate">
            <ul class="pagination">
                <li :class="['paginate_button page-item first ',paginator.current_page <= 1 ? 'disabled' : '',isLoading ? 'disabled' : '']"  id="kt_table_1_first"><a @click.prevent="changePage(1)"  aria-controls="kt_table_1" data-dt-idx="0" title="Première page" tabindex="0" class="page-link"><i class="las la-angle-double-left"></i></a></li>
                <li :class="['paginate_button page-item previous ',paginator.current_page <= 1 ? 'disabled' : '',isLoading ? 'disabled' : '']" ><a @click.prevent="changePage(paginator.current_page-1)"   aria-controls="kt_table_1" data-dt-idx="1" title="Précèdent" tabindex="0" class="page-link"><i class="las la-angle-left"></i></a></li>
                <li  :class="['paginate_button page-item',paginator.current_page==page ? 'm active' : '',isLoading ? 'disabled' : '']"
                     v-for="(page,index) in pages" :key='index' >
                    <a @click.prevent="changePage(page)"  aria-controls="kt_table_1" data-dt-idx="2" tabindex="0" class="page-link">{{ page}}</a>
                </li>
                <li :class="['paginate_button page-item next',paginator.current_page >= paginator.last_page ? 'disabled' : '',isLoading ? 'disabled' : '']" id="kt_table_1_next"><a @click.prevent="changePage(paginator.current_page+1)"  aria-controls="kt_table_1" title="Suivant" data-dt-idx="6" tabindex="0" class="page-link"><i class="las la-angle-right"></i></a></li>
                <li :class="['paginate_button page-item last',paginator.current_page >= paginator.last_page ? 'disabled' : '',isLoading ? 'disabled' : '']"  id="kt_table_1_last"><a  @click.prevent="changePage(paginator.last_page)"  aria-controls="kt_table_1" title="Dernière page" data-dt-idx="7" tabindex="0" class="page-link"><i class=" las la-angle-double-right"></i></a></li>
            </ul>
        </div>
    </div>
</div>
</template>

<script>

    export default {
        props : ['pager','message','source','offset'],
        data()
        {
            return{
                per_page : 15,
                current :10,
                current_page:null,
                nbr_page:null,
                showItemPerPage:false,
                paginator:this.source,
                isLoading:false
            }
        },
        computed:
         {
            showNumbers()
            {
                if(this.paginator==null)
                return false
                else
                return parseInt(this.paginator.per_page) > this.paginator.total ? false : true;
            },
            //Affiche la pagination si seulement il y a plus d'une page
            showPagination()
            {
                return this.paginator.last_page > 1
            },
            //Affiche les numéros des différentes pages
            pages()
            {
                let pages = [];
                let from = this.paginator.current_page - Math.floor(this.offset / 2);
                if (from < 1) {
                    from = 1;
                }
                let to = from + this.offset - 1;
                if (to > this.paginator.last_page) {
                    to = this.paginator.last_page;
                }
                while (from <= to) {
                    pages.push(from);
                    from++;
                }
                return pages;
            }
        },
        mounted() {


            window.event.$on("paginationUpdatedOnCrud",(e) =>
            {
               this.paginator = e
            });

            window.event.$on("isLoading",(e) =>
            {
               this.isLoading = e
            });

             window.event.$on("paginationUpdatedOnSearch",(e) =>
            {
               this.paginator = e
            });

            window.event.$on("paginationUpdatedOnLastPage",(index) =>
            {
               this.paginator.data.splice(index,1)
            });

            window.event.$on("paginationInit",(e) =>
            {
               this.paginator = e
               if(this.paginator.last_page==null)
               this.paginator.last_page = 1
              // this.current_page = e.current_page
               //this.pages

            });
           
        },
        methods:
        {
            flash(message,type="primary")
            {

               
            },
            selectItemPerPage()
            {
                this.showItemPerPage =true
            }
            //Change le nombre d'entrées par page
            ,searchPer(e)
            {
                
               this.$emit('per_page',e.target.value)
               this.showItemPerPage =false
            },
            //Change la pagination lors d'un clic
            changePage(page) {
                if(this.isLoading) return 
                if (page > this.paginator.last_page) {
                    page = this.paginator.last_page;
                }
                else if(page <= 0 )
                {
                    page = this.paginator.first_page;

                }
                else
                {
                  this.paginator.current_page = page;
                }
                this.$emit('paginate', page);
            }
            
        }
        
    }
</script>
<style scoped>
.dataTables_info select {
    width: auto;
    display: inline-block;

        height: calc(1.5em + 1rem + 2px);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    font-size: 0.875rem;
    padding: 0.65rem 2rem 0.65rem 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 1rem center/8px 10px;
    border: 1px solid #e2e5ec;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}
</style>